@charset "utf-8";
@import "../../frontend/Orogen Data-Design System.scss"; /* Token Values */

.modal-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
}
.modal-title{
    padding-right: calc(2.5rem / 2);
    margin-top: -.4375rem;
    margin-bottom: $spacing-075;
}
.modal {
    display: block;
    padding: $spacing-075;
    position: fixed;
    z-index: 99999;
    max-width: 90svw;
    background-color: $white;
    top: 15svh;
    margin: 0 auto;
    box-shadow: $shadow-level-04;
    border-radius: $round-03;
    & .close {
        position: absolute;
        top: $spacing-055;
        right: $spacing-05;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: $round-02;
        cursor: pointer;
        &:hover {
            background-color: unquote("#{$black}"+"#{$opacity-15}");
        }
        &:active {
            background-color: unquote("#{$black}"+"#{$opacity-25}");
        }
        &:focus-visible {
            @include focus-state;
        }
        & .icon {
            width: 60%;
            height: 60%;
            fill: $black;
        }
    }
}