@charset "utf-8";
@use '../../../../node_modules/@carbon/styles';
@use '../../../../node_modules/@carbon/grid';

@import "../../../frontend/Orogen Data-Design System.scss"; /* Token Values */

@include grid.flex-grid();

.projects-grid{
    display: grid;
    gap: $spacing-08;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-thumbnail{
    display: block;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    // background-image: ;
    background-color: $rockgrey-15;
    border-radius: $round-04;
}
.project-thumbnail-hover{
    background-color: rgba(0,0,0,0.33);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    font-size: 1.424rem;
    line-height: 1;
    color: $white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:hover{
        opacity: 1;
        }
}
.project-title-wrap{
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
}
.project-last-edit{
    font-weight: 600;
    font-size: $typesize-01;
    line-height: 1;
    color: $rockgrey-50;
}