@charset "utf-8";
@import "../../frontend/Orogen Data-Design System.scss"; /* Token Values */

.logo-colour {
    width: 100%;
    height: 100%;
    fill: $black;
    // &:hover {
    //     fill: $rockgrey-85;
    // }
    &.white {
        fill: $white;
        // &:hover {
        //     fill: $rockgrey-15;
        // }
    }
    &.blue {
        fill: $orogenblue-50;
        // &:hover {
        //     fill: $opacity-40;
        // }
    }
}